/* Selection */
::selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-moz-selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-webkit-selection {
  color: #ffffff;
  background-color: #dc3545;
}

/* Selection */

/* Header */
.navbar .nav-link {
  font-weight: 500;
}

/* Header */

/* Page */
.page-main {
  padding-top: 48.5px;
  min-height: calc(100vh - 53.6px);
}

.page-container {
  padding-top: 2rem;
}

.page-intro {
  padding-top: 14rem;
  padding-bottom: 10rem;
  /* display: none; */
}

/* Page */

/* Tab */
#left_tab,
#right_tab {
  position: relative;
  height: 100%;
}

.tab-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  align-items: center;
  /* z-index: 1; */
}

.tab-button i {
  position: relative;
  top: .125rem;
}

/* Tab */

/* Tab Nav */
.nav-tabs {
  padding: .75rem 1rem 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
}

.nav-tabs .nav-link {
  padding: .5rem 1rem .25rem;
  border: 0;
}

.nav-tabs .nav-link:not(.active) {
  background-color: unset !important;
}

.nav-tabs .nav-link:not(.active):hover {
  color: #9e9e9e !important;
}

/* Tab Nav */

/* Tab Pane */
.tab-content {
  height: calc(100% - 48px);
}

.tab-pane {
  position: relative;
  height: 100%;
}

.pane-body {
  height: 100%;
  min-height: 375.4px;
  padding: 1rem 1rem 3.4rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border: 0;
  box-shadow: none !important;
  resize: none;
}

.pane-widget {
  display: block;
  position: absolute;
  bottom: 1rem;
}

.pane-widget button {
  text-decoration: none;
}

#left_text_stat {
  text-align: right;
  right: 1rem;
}

/* Tab Pane */

/* Mask */
.tab-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1;
}

.spinner-grow {
  width: 3rem;
  height: 3rem;
}

.spinner-border-sm {
  width: .9rem;
  height: .9rem;
}

/* Mask */
